body {
	font: 20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.h1 {
	margin: 10px;
	text-align: center;
	font-size: 36px;
	color: #666;
}
:focus {
	outline: none;
}
.ui-container {
	margin: 20px auto;
	padding: 25px;
	max-width: 900px;
	min-width: 600px;
	min-height: 100px;
	background-color: #eee;
}
.ui-form {
	text-align: center;
}
.ui-select {
	width: 200px;
	height: 30px;
}
.ui-city-weather {
	margin-top: 30px;
	text-align: center;
}